@use 'variables' as *;
@use 'mixins' as *;

.about-us--btns {
  width: 95%;
  margin: 0 2.5% 0 2.5%;
}

@media screen and (min-width: 768px) {
  .about-us--section {
    width: 60% !important;
    margin: 0rem 25% 0 15% !important;
    p {
      font-size: $x-large;
    }
  }
  .about-us--btns {
    width: 60%;
    margin: 0 25% 0 15%;
  }
}
