@use 'variables' as *;
@use 'mixins' as *;

.article--title {
  background-color: $darkest-clr;
  color: rgba($light-clr, 0.9) !important;
  font-size: 34px;
  padding: 40px 2.5% 4px 2.5%;
  line-height: 1;
  min-height: 155px;
  span {
    display: block;
    line-height: 1;
    text-transform: uppercase;
    color: rgba($accent-clr-dark, 0.8);
  }
}
.blog--author {
  font-size: 14px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  a {
    text-decoration: underline;
  }
}
.header--highlight {
  background-color: rgba($dark-clr, 0.1);

  p {
    width: 95%;
    margin: auto;
    padding-top: 0.6rem;
  }
}
.blog--para--top-margin {
  padding-top: 16px;
}
// .blog--para > ul,
// .blog--para > ol {
//   background-color: rgba($dark-clr, 0.1);
//   padding: 18px 2.5% 0 2.5%;
// }
// .blog--para > ol {
//   padding-left: 30px;
// }
.blog--para {
  width: 95%;
  margin: auto;
}
.article--body {
  blockquote p {
    padding: 12px 6px 16px 16px;
    border-left: 32px solid rgba($accent-clr-dark, 0.8);
    margin-bottom: 18px;
    font-style: italic;
    background-color: rgba($dark-clr, 0.1);
  }
}
@media screen and (min-width: 769px) {
  .article--title {
    font-size: $xxxx-large !important;
    text-align: center;
    padding: 60px 5% 4px 5% !important;
    // span {
    //   font-size: 5rem !important;
    // }
  }
  .header--highlight {
    text-align: center;
    padding: 6px 10% 0px 10% !important;
    min-height: 200px !important;
    p {
      font-size: $xx-large !important;
    }
  }
  .blog--para {
    width: 50% !important;
    margin: 0 30% 0 20% !important;
  }
  .blog--first--para {
    margin-top: 10px;
    // width: 50% !important;
    // margin: 0 30% 0 20% !important;
  }
  .blog--para--top-margin {
    padding-top: 18px;
  }
  h2 {
    font-size: $xx-large;
  }
  p {
    font-size: $x-large;
  }
  .article--body {
    blockquote p {
      font-size: $large;
    }
  }
}
