@font-face {
  font-family: "BlackOps-One";
  src: url("/assets/fonts/BlackOpsOne-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald-SemiBold";
  src: url("/assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("/assets/fonts/SourceSansPro-Bold.otf") format("opentype");
  font-display: swap;
}
