@use "variables" as *;
@use "mixins" as *;

footer {
  text-align: center;
  border-top: 2px solid rgba($mid-clr, 0.7);
}
.icons--social-media {
  margin: 0 2.5%;
  color: $dark-clr;
  a img {
    transition: all 0.5s ease-in-out;
    &:hover {
      background-color: rgba($accent-clr-dark, 0.3);
      border-radius: 4px;
    }
  }
}
.footer--copyright {
  border-top: 2px solid rgba($mid-clr, 0.7);
  P {
    padding-bottom: 0;
    font-size: $x-small;
    a {
      font-weight: bold;
      text-decoration: 2px solid underline rgba($accent-clr-dark, 0.7);
      text-underline-offset: 2px;
      transition: all 0.3s ease-in-out;
      &:hover {
        text-decoration: 2px solid underline rgba($dark-clr, 0.7);
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .icons--social-media {
    a img {
      width: 36px;
      height: 36px;
    }
  }
  .footer--copyright p {
    font-size: $small;
  }
}
