@use "variables" as *;
@use "mixins" as *;

.hero {
  position: relative;
  min-height: 500px;
  background-color: black;
  background-image: url("/assets/images/hero-chin-up-711x400.webp"),
    url("/assets/images/hero-chin-up-148x83.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero--overlay {
  position: absolute;
  //   background-color: rgba(0, 0, 0, 0.2);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.8) 100%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.hero--text--wrapper {
  color: $light-clr;
  text-align: center;
  padding: 190px 2.5% 100px 2.5%;
}
.hero--title {
  color: rgba($light-clr, 0.85);
  font-size: 32px;
  margin-bottom: 17px;
  span {
    font-size: 40px;
    display: block;
    text-transform: uppercase;
    color: rgba($accent-clr-dark, 0.9);
  }
}
.scroll-down-arrow {
  font-size: 36px;
  font-weight: 600;
  padding-top: 10px;
  animation: bounce 3s infinite;
  color: $accent-clr-dark;
}
// .tooltip {
//   position: relative;
//   // display: inline-block;
//   cursor: pointer;
// }

// /* Tooltip text */
// .tooltip .tooltiptext {
//   font-size: 1.6rem;
//   visibility: hidden;
//   width: 120px;
//   background-color: black;
//   color: #fff;
//   text-align: center;
//   border-radius: 6px;
//   padding: 5px;
//   position: absolute;
//   z-index: 1;
//   bottom: -70%; /* Position above the tooltip */
//   left: 50%;
//   margin-left: -60px; /* Center the tooltip */
//   opacity: 0;
//   transition: opacity 0.3s;
// }

/* Show the tooltip text when you hover over the tooltip */
// .tooltip:hover .tooltiptext {
//   visibility: visible;
//   opacity: 1;
// }
@media screen and (min-width: 769px) {
  .hero--title {
    font-size: 2.5rem !important;
    span {
      font-size: 3.1rem !important;
    }
  }
}
