// Font Sizes
$xxxxx-large: 4.5rem;
$xxxx-large: 2.5rem;
$xxx-large: 2rem;
$xx-large: 1.5rem;
$x-large: 1.25rem;
$large: 1.125rem;
$normal: 1rem;
$small: 0.875rem;
$x-small: 0.75rem;
$xx-small: 0.625rem;
$xxx-small: 0.5rem;

// Colors
$darkest-clr: rgb(8, 8, 8);
$dark-clr: rgb(32, 32, 32);
$mid-clr: rgb(51, 51, 51);
$light-clr: rgb(255, 255, 255);
$accent-clr-dark: rgb(255, 0, 0);
$accent-clr-mid: rgb(255, 152, 0);
$accent-clr-light: rgb(247, 214, 55);
